@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*General*/

.bg-yellow {
    background-color: #ffd976;
}

.ensp:after {
    content: '\2002';
    speak: none;
}


/* RWD Container */

body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.layout-header {
    display: flex;
    padding: 0;
    height: 126px;
    line-height: 1.6;
    background-color: #fff;
    align-items: center;
}

.layout-footer {
    background-color: #fff;
    height: 102px;
    padding: 0%;
}

.detail-layout {
    background-color: #fff;
    padding-top: 2%;
}


/*Header*/

.header-wrap {
    display: flex;
    width: 70%;
    margin: auto;
    max-width: 100%;
    height: 100%;
    align-items: center;
}

.header-logo {
    width: 15%;
}

.logo-img {
    width: 145px;
    height: 98px;
}

.icon-img-link {
    margin-right: 10%;
}

.icon-img {
    width: 36px;
    height: 36px;
}

.header-nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-icon {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.header-nav-text {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
}

.header-nav-text:hover {
    color: #ffb800;
}

.header-ham-text {
    margin-top: 2%;
    width: 80%;
    font-size: 18px;
    color: #000;
    display: block;
    line-height: 200%;
    font-weight: bolder;
}

.header-ham-text:hover {
    color: #ffb800;
    transition: 0.2s;
}


/* hammenu */

.ham-menu {
    display: inline-block;
    position: relative;
    margin-left: -4rem;
    z-index: 999;
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
    left: 3rem;
    top: 1rem;
    transition: all .25s linear;
    display: none;
}

.ham-menu:hover {
    opacity: 1;
    cursor: pointer;
}

span.ham-menu-bar1 {
    display: inline-block;
    position: absolute;
    background-color: #ffb800;
    width: 24px;
    height: 3px;
    top: 0rem;
    transition: all .05s linear;
    transform: rotate(-4deg);
}

span.ham-menu-bar2 {
    display: inline-block;
    background-color: #ffb800;
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0.55rem;
    transition: all .25s linear;
    transform: rotate(2deg);
}

span.ham-menu-bar3 {
    display: inline-block;
    background-color: #ffb800;
    position: absolute;
    width: 24px;
    height: 3px;
    top: 1.1rem;
    transition: all .25s linear;
    transform: rotate(-2deg);
}

span.ham-menu-bar1--touch {
    display: inline-block;
    position: absolute;
    background-color: #ffb800;
    width: 30px;
    height: 3px;
    top: 16px;
    opacity: 0;
    transition: all .05s linear;
}

span.ham-menu-bar2--touch {
    display: inline-block;
    background-color: #ffb800;
    position: absolute;
    width: 30px;
    height: 3px;
    opacity: 1;
    top: 0.6rem;
    transition: all .25s linear;
    transform: rotate(45deg);
}

span.ham-menu-bar3--touch {
    display: inline-block;
    background-color: #ffb800;
    position: absolute;
    width: 30px;
    height: 3px;
    top: 0.6rem;
    opacity: 1;
    transition: all .25s linear;
    transform: rotate(-45deg);
}

.ant-drawer-header {
    border-bottom: none;
}

.ant-drawer-title {
    text-align: center;
}

#ham-line {
    margin-top: 5%;
    margin-right: -5%;
}

#ham-fb {
    margin-top: 5%;
}


/* User Info */

.UserInfo-box {
    width: 50px;
    cursor: pointer;
}

.UserInfo-text {
    font-size: 14px;
    color: #ffb800;
    font-weight: bolder;
}


/* carousel */

.carousel {
    background-color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.carousel-self {
    transform: scale(0.8);
    z-index: 12;
}

.carousel-block-yellow {
    background-color: #ffd976;
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 10;
    top: 250px;
}

.carousel-img {
    max-width: 100%;
}


/*about*/

.layout-about {
    height: auto;
    display: flex;
    flex-flow: row wrap;
}

.about-sider {
    display: flex;
    height: 420px;
    width: 50%;
    background-color: #fff;
    line-height: 390px;
    max-width: 100%;
}

.about-img {
    height: 355px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 2%;
}

.about-content {
    width: 50%;
    background-color: #fff;
    max-width: 100%;
    display: flex;
}

.about-content-text {
    background: #fffaec;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    width: 580px;
    height: 154px;
    padding-top: 1%;
    margin-left: 5%;
    max-width: 91%;
}

.about-content-block {
    background-color: #fffaec;
    margin-left: 2%;
    width: 98%;
    margin-top: 2%;
    height: 355px;
    max-width: 100%;
}

.about-content-title {
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    padding-top: 2%;
    margin-left: 5%;
    padding-bottom: 1%;
}

.title-color {
    color: #ffb800;
}

.about-content-line {
    border: 2px solid #ffb524;
    width: 550px;
    margin-left: 5%;
    max-width: 85%;
}

.about-content-btn {
    width: 150px;
    height: 40px;
    background: #ffd976;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 45%;
    margin-top: 5%;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
}

.about-content-btn:hover {
    background: #fdbb12;
    transform: scale(1.1);
}


/* productlist */

.productlist-container {
    background-color: #fff;
}

.productlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.productlist-title {
    font-size: 24px;
    font-weight: bolder;
    margin: auto;
    margin-right: 1%;
    margin-left: 1%;
}

.productlist-NavBar {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
}

.productlist-NavBarItem {
    color: #828282;
    width: 110%;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
}

.productlist-NavBarItem:hover {
    transition: 0.3s;
    color: #fff;
    width: 110%;
    background-color: #8bb98d;
    border-radius: 10px;
}

.productlist-NavBarItem--active {
    background-color: #8bb98d;
    color: #fff;
    border-radius: 10px;
}

.product-outside-block {
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

.product-block {
    background-color: #fff;
}


/*process*/

.process-layout {
    background-color: #ffd976;
}

.process-intro {
    height: 328px;
}

.process-title {
    height: 50px;
    font-weight: bold;
    font-size: 24px;
    padding-top: 1%;
    line-height: 50px;
    text-align: center;
    color: #fffaec;
}

.process-line {
    border: 2px solid #fffaec;
    text-align: center;
    width: 212px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.intro-img {
    width: 253px;
    height: 189px;
    margin: auto;
}

.slick {
    margin: auto;
    width: 70%;
    height: 189px;
}

.process-image {
    padding: 0%;
}


/*process-order*/

.process-order {
    height: 350px;
    background: #ffb800;
}

.process-arrow-between {
    width: 198px;
    height: 30spx;
    border-style: solid;
    border-width: 30px 100px 0 100px;
    border-color: #ffd976 transparent transparent transparent;
    margin: auto;
}

.order-number-block {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 1%;
}

.order-rol {
    display: flex;
}

.block-circle {
    margin: auto;
    width: 126px;
    height: 126px;
    border-radius: 999em;
    background: #fdefc7;
    font-weight: bold;
    font-size: 72px;
    line-height: 115px;
    color: #ffb800;
    text-align: center;
}

.block-arrow {
    margin-top: 7%;
    width: 58px;
    height: 58px;
    mix-blend-mode: luminosity;
}

.order-number-text {
    display: flex;
    width: 1330px;
    justify-content: space-between;
    margin: auto;
    margin-top: 1%;
}

.number-intro {
    width: 210px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
}

.order-btn {
    width: 264px;
    height: 49px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #ffb800;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    line-height: 49px;
    transition: all 0.5s;
}

.order-btn:hover {
    background-color: rgba(240, 240, 240, 0.966);
    transform: scale(1.1);
}


/*location*/

.suggest-product-img {
    width: 386px;
    height: 221px;
    overflow: hidden;
    justify-content: center;
    opacity: 1;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s ease;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: #000;
    font-weight: bolder;
    font-size: 20px;
}

.suggest-product-img:hover .image {
    opacity: 0.3;
}

.suggest-product-img:hover .middle {
    opacity: 1;
}

.suggest-product-img img {
    height: 120%;
    width: 100%;
    transition: 0.5s;
}

.suggest-product {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 1%;
}

.suggest-product-img img:hover {
    opacity: 30%;
}

#suggest-line {
    width: 200px;
}

#suggest-title {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 0.5%;
    margin-top: 2%;
}

.location-layout {
    justify-content: space-between;
    max-width: 100%;
    height: 690px;
    background-color: #fff;
    display: flex;
}

#right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 345px 100px 345px 0;
    border-color: transparent #ffb800 transparent transparent;
    max-width: 100%;
}

.location-layout-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 345px 0 345px 100px;
    border-color: transparent transparent transparent #ffb800;
    max-width: 100%;
}

.location-position {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding-top: 1.5%;
    justify-content: space-between;
    max-width: 100%;
}

.location-layout2 {
    max-width: 100%;
}

.location-intro-title {
    width: 80%;
    margin: auto;
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    padding-bottom: 2%;
}

.map-block {
    width: 60%;
}

.location-map {
    width: 100%;
    height: 340px;
}

.location-intro {
    height: 216px;
    width: 40%;
}

.location-intro-line {
    border: 2px solid #000000;
    width: 390px;
}

.intro-information {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.location-intro-text {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    width: 70%;
    margin: auto;
}

.location-img {
    width: 18px;
    height: 30px;
}

.location-btn {
    background: #ffffff;
    border: 3px solid #ffb800;
    box-sizing: border-box;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    color: #ffb800;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    font-weight: bolder;
    margin-top: 10%;
    margin-left: 65%;
    transition: all 0.3s;
}

.location-btn:hover {
    color: #fff;
    background-color: #ffb800;
}


/* productdetail */

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.product-name {
    font-size: 22px;
    font-weight: bolder;
    width: auto;
    text-align: center;
    background-color: #ffb524;
}

.product-description--border {
    border: #ffb524 3px solid;
    width: auto;
    position: relative;
}

.product-description {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 30px;
    margin-left: 2%;
}

.product-price-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap row;
}

.product-qty {
    margin-bottom: 4%;
    justify-content: space-between;
}

.TableDetail {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    margin-top: 2%;
}

.TableDetail-img {
    max-width: 100%;
    height: auto;
}

.detail-payment {
    margin-top: 2%;
    margin-bottom: 2%;
}

.price-row {
    width: 100%;
}

.productdetail-intro {
    max-width: 100%;
}


/*product detail*/

.productItem-functions {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.productItem-name {
    color: #5e7d5f;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 2%;
}

.btn-color {
    font-size: 16px;
}

.btn-color:hover {
    color: #5e7d5f;
    border: #5e7d5f 3px;
    transition: 0.1s;
}

.btn-color:hover {
    color: #5e7d5f;
    border: #5e7d5f 1px solid;
    transition: 0.1s;
}

.text-gray {
    font-size: 20px;
}


/* CARD */

card {
    width: 30%;
    height: fit-content;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px;
}

.content-user {
    background-color: #fdefc7;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.cardLine {
    border: solid 2px #ffb524;
    width: 70%;
}


/* login css */

.login-card-head {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.login-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-form {
    margin: auto;
    width: 60%;
}

.login-form__button {
    font-size: 18px;
    font-weight: bolder;
    width: 177px;
    height: 49px;
    background: #ffb524;
    border-radius: 30px;
    border: none;
    max-width: 100%;
}

.login-form__button:hover {
    background: #FFD976;
}

.form-btn-position {
    margin-left: 20%;
    width: 100%;
}

.login-text {
    margin-top: 2%;
    font-size: 14px;
    font-weight: bold;
}

.login-text-color {
    color: red;
}

.ant-form {
    margin-top: 5%;
}


/* register css */

.register-form {
    width: 80%;
}

.register-check {
    margin-left: 33%;
}

.register-btn-position {
    margin-left: 40%;
    width: 100%;
}

.register-text {
    margin-left: 4%;
    margin-top: 2%;
    font-size: 14px;
    font-weight: bold;
}


/* shoppingbag */

main {
    background-color: #fff;
}

.shoppingbag {
    height: 100%;
    display: flex;
    width: 70%;
    margin: auto;
    background-color: #fff;
    justify-content: space-between;
}

.shoppinglist-position {
    width: 70%;
}

.summary-position {
    width: 25%;
}

.shoppingbag-steps {
    margin: 1rem 0;
}

.shoppingbag-text {
    color: #fff;
    text-align: left;
    padding-left: 2%;
    font-size: 18px;
    font-weight: bolder;
    height: 30px;
    line-height: 30px;
}

.shoppingbag-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.shoppingbag-image img {
    max-width: 10rem;
    max-height: 10rem;
    flex: 1 1;
    margin-left: 12%;
}

.price-delete-block {
    margin-right: 3%;
}

.shoppingbag-item-content {
    margin-left: 2rem;
    flex: 8 1;
}

.shoppingbag-name {
    font-size: 1.4rem;
    font-weight: 500;
}

.shoppingbag-price {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
}

.shoppingbag-item-delete img {
    width: 1.3rem;
    opacity: 0.8;
    text-align: right;
    cursor: pointer;
    float: right;
}

.transport {
    width: 100%;
}

.shoppingbag-shipping {
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.deliver {
    margin-right: 2%;
}

.shoppingbag-total-price-wrap {
    display: flex;
    justify-content: space-between;
}

.shoppingbag-total-price {
    font-weight: bold;
    text-align: right;
}

.shoppingbag-btn-style-1 {
    width: 20%;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
}

.previous-img {
    width: 15px;
    height: 25px;
    margin-right: 0.5%;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    background: #ffb800;
    border-color: #ffb800;
}

.ant-steps-item-finish .ant-steps-item-icon {
    border-color: #ffb800;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: #ffb800;
}

.ant-steps-item-tail {
    color: #ffb800;
}

.shoppingbag-btn-style-1:hover {
    color: #000;
}

.shoppingbag-btn-style-2 {
    border: 0 #fff;
    width: 166px;
    height: 48px;
    color: #fff;
    background-color: #ffb800;
    margin: auto;
}

.shoppingbag-btn-style-2:hover {
    border: 0 #fff;
    width: 100%;
    color: #fff;
    background-color: #ffd976;
}

.cart-outline {
    border: solid 2px rgb(214, 214, 214);
}


/* summary */

.summary-block {
    border: solid 2px #000;
    margin-bottom: 5%;
    height: fit-content;
    padding-bottom: 8%;
}

.summary-position {
    margin-top: 8%;
    margin-bottom: 4%;
}

.summaryLine {
    border: solid 1px #000;
}

.summary-inside-block {
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 8%;
}

.summary-text {
    font-size: 18px;
    font-weight: bolder;
}

.summary-text-total {
    font-size: 22px;
    font-weight: bolder;
}

.summary-float {
    float: right;
}

.discount {
    color: #39A0FF;
    cursor: pointer;
    font-size: 16px;
}

.discount:hover {
    border-bottom: solid 1px #39A0FF;
}


/* compare */

.compare-title {
    font-size: 36px;
    font-weight: bolder;
    margin: auto;
}

.compare-little-text {
    font-size: 20px;
    margin: auto;
    font-weight: bolder;
}

.compare-line {
    width: 70%;
    margin: auto;
    border: solid 2px #ffb800;
    margin-top: 1%;
    margin-bottom: 2%;
}

.compare-space {
    width: 30%;
    justify-content: space-around;
    margin: auto;
}

.table-img {
    width: 100%;
}

.compare-outside {
    width: 70%;
    margin: auto;
}

.feature-img {
    margin: auto;
}

.compare-select {
    width: 100%;
    margin-bottom: 5%;
}

.compare-price {
    margin: auto;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 4%;
}

.compare-btn {
    color: #ffb800;
    font-size: 18px;
    font-weight: bolder;
    width: 50%;
    height: 45px;
    margin: auto;
    border: #ffb800 solid 5px;
    border-radius: 30px;
    text-align: center;
    line-height: 38px;
    margin-top: 4%;
    transition: 0.3s;
}

.compare-btn:hover {
    color: #fff;
    background-color: #ffb800;
}


/* payment */

.payment-position {
    width: 100%;
}

.payment-form {
    margin: auto;
    width: 100%;
}

.paymentMethod {
    margin-left: 5%;
}

.ant-form {
    margin-top: 3%;
}

.pay-btn-pos {
    margin: auto;
    width: 20%;
    margin-bottom: 4%;
}


/* shipping */

.shipping-position {
    width: 100%;
    margin-bottom: 5%;
}

.shipping-inside {
    width: 80%;
}


/* placeorder */

.order-position {
    width: 70%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

.placeorder-position {
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}

li {
    list-style: none;
}

.ship-btn-pos {
    margin: auto;
    width: 25%;
    margin-bottom: 8%;
}


/* placeordercard */

.placeorder-btn {
    font-size: 18px;
    font-weight: bolder;
    margin: auto;
    width: 100%;
    margin-top: 5%;
}

.cart-image {
    width: 50%;
}

.cart-item {
    margin: auto;
    margin-top: 5%;
    padding-bottom: 5%;
    width: 90%;
    border-bottom: rgb(172, 172, 172) solid 1px;
}

li {
    display: flex;
}

.cart-total-price-wrap {
    display: flex;
    margin-left: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.cart-item-content {
    width: 25%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card-body {
    width: 80%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}


/* spinner */

.spinner-wrap {
    height: 100%;
}


/*footer*/

.footer {
    height: 102px;
    width: 100%;
    padding-top: 2px;
}

.footer-line {
    width: 100px;
    height: 0px;
    margin-top: 38px;
    border: 1px solid #ffffff;
    line-height: 102px;
}

.text-white {
    padding-top: 5px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


/* xxl */

@media screen and (max-width: 1600px) {
    .container {
        width: 1600px;
    }
    .about-img {
        max-width: 100%;
        margin: auto;
    }
    .about-sider {
        width: 50%;
    }
    .about-content {
        width: 50%;
        padding-top: 1.5%;
    }
    .about-content-btn {
        margin-left: 55%;
        margin-top: 8%;
    }
    .slick {
        max-width: 100%;
    }
    .location-intro {
        width: 80%;
        margin: auto;
    }
    .location-layout {
        height: auto;
        min-width: 100%;
    }
    .location-intro-title {
        width: auto;
        justify-content: center;
    }
    .location-btn {
        margin: auto;
    }
    .map-block {
        width: 80%;
        max-width: 100%;
        margin: auto;
    }
    .location-intro-text {
        width: auto;
        justify-content: center;
        padding-top: 0%;
    }
    #right {
        border-width: 450px 100px 450px 0;
    }
    .location-layout-triangle {
        border-width: 450px 0 450px 100px;
    }
    .suggest-position {
        max-width: 100%;
    }
    .form-btn-position {
        width: 100%;
    }
    card {
        width: 40%;
    }
    .cart-item-content {
        width: 60%;
    }
    .cart-total-price-wrap {
        margin-left: 75%;
    }
}

@media screen and (max-width: 1400px) {
    .location-layout-triangle {
        display: none;
    }
    .location-layout2 {
        margin: auto;
        margin-bottom: 2%;
    }
    .shoppingbag {
        display: block;
    }
    .shoppinglist-position,
    .summary-position {
        width: 100%;
    }
    .summary-inside-block {
        margin-top: 1%;
        margin-bottom: 8%;
    }
    .summary-position {
        margin-bottom: 6%;
    }
}


/* xl */

@media screen and (max-width: 1200px) {
    .container {
        width: 1200px;
    }
    .about-img {
        margin: auto;
    }
    .about-sider {
        width: 50%;
    }
    .about-content {
        width: 50%;
    }
    .about-content-btn {
        margin-left: 55%;
        margin-top: 13%;
    }
    .slick {
        max-width: 100%;
    }
    .map-block {
        width: 80%;
        max-width: 100%;
        margin: auto;
    }
    .location-intro {
        width: 80%;
        margin: auto;
    }
    .location-layout {
        height: auto;
    }
    .location-btn {
        margin-top: 0%;
    }
    .header-nav {
        margin-right: 2%;
    }
    .header-nav-text,
    #fb,
    #line {
        display: none;
    }
    .header-nav {
        width: 350px;
    }
    .productlist-NavBarItem {
        font-size: 18px;
    }
    .UserInfo-box {
        padding-right: 7%;
    }
    #cart {
        margin-top: 30%;
    }
    .ham-container {
        padding-top: 5%;
        display: block;
    }
    .ham-menu {
        display: block;
    }
    card {
        width: 50%;
    }
    #selectthree {
        display: none;
    }
    .compare-space {
        width: 40%;
    }
    .compare-outside {
        width: 90%;
    }
    .cart-item-content {
        width: 60%;
    }
    .cart-total-price-wrap {
        margin-left: 70%;
    }
}


/* lg */

@media screen and (max-width: 992px) {
    .container {
        width: 992px;
    }
    .about-content {
        width: 100%;
    }
    .about-sider {
        width: 100%;
    }
    .about-content-block {
        width: auto;
        justify-content: center;
        margin: auto;
    }
    .about-content-btn {
        margin-left: 55%;
        margin-top: 8%;
    }
    .block-arrow {
        display: none;
    }
    .order-rol {
        display: inline;
    }
    .process-order {
        height: auto;
        padding-bottom: 5%;
    }
    .location-intro-title {
        width: auto;
        justify-content: center;
    }
    .header-logo {
        width: 80%;
        line-height: 90px;
    }
    .layout-header {
        height: 90px;
    }
    .logo-img {
        width: 120px;
        height: 80px;
    }
    .header-logo {
        width: 40%;
    }
    .header-nav {
        width: 20%;
    }
    .productlist-NavBar {
        width: 60%;
    }
    card {
        width: 60%;
    }
    .productlist-NavBar {
        margin-bottom: 3%;
        width: 80%;
    }
    .ship-btn-pos {
        width: 70%;
    }
    .pay-btn-pos {
        width: 40%;
    }
}


/* md */

@media screen and (max-width: 768px) {
    .container {
        width: 768px;
    }
    .about-content {
        width: 100%;
    }
    .about-sider {
        width: 100%;
    }
    .carousel-self-size {
        transform: scale(1.25);
    }
    .about-content-btn {
        margin-left: 55%;
        margin-top: 8%;
    }
    .icon-img {
        width: 35px;
        height: 35px;
    }
    .suggest-product-img {
        width: 90%;
        height: 60%;
        margin-top: 2%;
    }
    .text {
        font-size: 16px;
    }
    .location-intro-title {
        font-size: 20px;
    }
    .logo-img {
        width: 100px;
        height: 60px;
    }
    card {
        width: 80%;
    }
    .shoppingbag-price {
        font-size: 18px;
    }
    .shoppingbag-name {
        font-size: 1rem;
        font-weight: 500;
    }
    .compare-outside {
        width: 90%;
    }
    .compare-space {
        width: 45%;
    }
    .table-img {
        width: 80%;
        margin: auto;
    }
    .feature-img {
        width: 80%;
    }
    .compare-select {
        width: 100%;
        margin-left: 0%;
    }
    .ship-btn-pos {
        width: 90%;
    }
    .pay-btn-pos {
        width: 50%;
    }
    .cart-item {
        display: block;
    }
    .cart-image {
        width: 100%;
    }
    .cart-item-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2%;
    }
    .cart-total-price-wrap {
        margin-left: 60%;
    }
}


/* sm */

@media screen and (max-width: 576px) {
    .container {
        width: 576px;
    }
    .carousel-self-size {
        transform: scale(1.25);
    }
    .about-content-btn {
        margin-left: 55%;
        margin-top: 12%;
    }
    .order-number-block {
        display: inline;
    }
    .number-intro {
        width: auto;
        margin-top: 2%;
        max-width: 100%;
    }
    .block-circle {
        margin-top: 2%;
    }
    .header-wrap {
        width: 90%;
    }
    .icon-img {
        margin-bottom: 20%;
    }
    .productlist-NavBar {
        width: 90%;
    }
    .productlist-NavBarItem {
        font-size: 16px;
    }
    .header-icon {
        width: 25%;
        margin-left: 0%;
    }
    card {
        width: 90%;
    }
    .form-btn-position {
        margin-left: 10%;
        width: 100%;
    }
    .register-form {
        width: 80%;
        margin: auto;
    }
    .register-check {
        margin-left: 23%;
    }
    .register-btn-position {
        margin-left: 20%;
        width: 100%;
    }
    .shoppingbag-image img {
        width: 5rem;
        height: 5rem;
    }
    .shoppingbag-name {
        font-size: 1rem;
        font-weight: 500;
    }
    .ant-steps-item-title {
        font-size: 14px;
    }
    .compare-title {
        font-size: 30px;
    }
    .compare-little-text {
        font-size: 16px;
    }
    .compare-btn {
        font-size: 16px;
        width: 60%;
        border: solid #ffb800 4px;
    }
    .ant-steps-item-icon {
        height: 20px;
        width: 20px;
        font-size: 12px;
        margin-top: 8%;
        line-height: 20px;
    }
    .ant-steps-item-title {
        font-size: 2px;
    }
    .shoppingbag {
        width: 80%;
    }
}

.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
}

@media (max-width: 992px) {
    .shoppingbag-summary-text {
        display: none;
    }
}